* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');


.container { 
  background: linear-gradient(45deg, #3c3b3a, #0e0d0c);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background: linear-gradient(45deg, #292829, rgb(215, 212, 212),#757474);
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
  border: 2px solid white;
}

@keyframes title {
  0%   {font-size:20px;transform: translateY(250px)}
  100% {font-size:50px;transform: translateY(20px)}
}


.header h1 {
  color: rgb(246, 246, 248);
  text-align: center;
  transform: translateY(20px);
  font-family: 'Playfair Display', serif;
  font-size:50px;
  animation-name: title;
  animation-duration: 2s;
  animation-iteration-count: 1;
  letter-spacing: 4px;
  margin-bottom: 50px;
}


.task-input {
  outline: none;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  color: #ccc;
  background-color: #000000;
  border: 1px solid #fefefe;
  border-right: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-bottom: 10px;

}

.button-add {
  background-image: linear-gradient(45deg,#871d81,#e2001a );
  padding: 15px 15px;
  font-size: 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 0;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fefefe;
  border-left: none;
  width: 20%;
  transition: font-size 0.1s ease-in-out;
  margin-bottom: 10px;


}

.button-add:hover {
  background-image: linear-gradient(-45deg,#871d81,#e2001a);

}


.button-complete {
  color: #ff6c6c;
  margin-right: 10px;

}

.button-edit {
  color: #5e66fa;
}


input:focus,
button:focus {
  outline: none;
}



#input_data{
  display:flex;
  flex-direction: row;
}

p.notyet {
  color:#fff;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: left;
  overflow:hidden;

}

p.completed {
  color:#fff;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: left;
  text-decoration: line-through;
  text-decoration-color: rgb(141, 6, 6);
  text-decoration-style: double;
  overflow:hidden;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

thead{
  background-image: linear-gradient(-45deg,#871d81,#e2001a 50%);
  padding: 15px;
}

tbody{
  background-image: linear-gradient(45deg,#871d8221,#e2001a18 50%);
  padding: 15px;
}

th{
  color:#fff;
}
td,th  {
  border: none;
  padding: 8px;
  width: 100px;
  text-align: center;
}
@keyframes tablerow {
  0%   { opacity: 0;}
  100% { opacity: 1;}
}

tbody > tr {
  opacity: 1;
  animation-name: tablerow;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

tbody > tr:hover{
  background-color: #3c3b3a2f;
  z-index: -1;
}

i#done{
  color: rgb(31, 154, 12);
  font-size:20px;
  cursor: pointer;

}

i#notyet{
  color: rgb(249, 250, 249);
  font-size:20px;
  cursor: pointer;

}

i.fa.fa-edit{
  font-size:20px;
  color:rgb(35, 167, 249);
  cursor: pointer;
  z-index: 1;
}

i.fa-solid.fa-trash-can{
  color:#860218;
  font-size: 20px;
  cursor: pointer;
}

i.fa-solid.fa-eye{
  color:#0b0286;
  font-size: 20px;
  cursor: pointer;
}

button.btn.btn-primary{
  width:100%;
  margin-top: 10px;
}

p.tasks_count{
  text-align: center;
  background-color: #fff;
  padding:5px 10px;
  color: #000;
  border-radius:50px;
  font-weight: bold;
  margin: 10px 5px ;

}

div.indicators{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  visibility: visible;
  margin-top:0px;
  transition: all 1s ease-in-out;
  position:relative;
  top:0px;
  opacity: 1;
}

div.hideindicators{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  position:relative;
  top:10px;
  transition: all 1s ease-in-out;

}

div.detail_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

p#detail{
  color: #000;
  background-color: #fff;
  font-size:15px;
  height:auto;
  border-radius:5px;
  border:2px solid #000;
  word-wrap: break-word;
  width: 100%;

}

button.home_button{
  width: 100%!important;
}